html {
  height: 100vh;
}

body {
  background-color: rgb(75, 75, 75);
  height: 100%;
  color: whitesmoke;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;
}


.tools {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(27, 27, 27, 0.233);
  border-radius: 6px;
  z-index: 9999;
  color: blanchedalmond;
  font-size: 2.5rem;
  align-items: center;
  display: flex;
}

.tools a {
  text-decoration: none;
  color: blanchedalmond;
  font-size: 2.5rem;
}

.title {
  background-color: rgb(77, 77, 77);
  text-align: center;
}

.title h1 {
  color: whitesmoke;
  margin: 0;
}

.selector {
  font-size: 0.4em;
  border-radius: 6px;
}

.composer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.input {
  flex-grow: 1;
  margin: 1%;
}

.output {
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 1%;
  font-size: larger;
  overflow: auto;
  background-color: #1e1e1eff
}

.resizer {
  background-color: #151515;
  cursor: ew-resize;
  width: 10px;
}